.container{
    max-width: 80%;
    
    padding: 34px;
    margin: auto;
}

.container h1{
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
}

p{
    font-size: 17px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
input, textarea{
    width: 80%;
    margin: 8px 0px;
    padding: 7px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    background: purple;
    color: white;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.vesit{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

.submitmsg{
    color: GREEN;
    background-color: burlywood;
    width: fit-content;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}